.topic{
	text-align: center;
	
	font-size:30px;
	text-shadow: 2px 2px 8px green;
}
.maths{
    color:red;
	font-size:30px;
	margin-left:40px;
	text-shadow: 2px 2px 3px blue;
}
.one{
	height:270px;
	margin-left:200px;
	background-color:#003300;
	width:18%;
	padding-top:10px;
}
.two{
	height:130px;
	width:249px;
	margin-top:-10px;

}
.three{
	margin-left:20px;
	padding-top:-10px;
	color:white;
}
.five{
      color:white;
      padding-top:-10px;
}
.ten{
	height:270px;
	margin-left:80px;
	background-color:#800000;
	width:18%;
	padding-top:10px;
}
.nine{
	height:270px;
	margin-left:80px;
	background-color:#666633;
	width:18%;
	padding-top:10px;
}
.eleven{
	height:270px;
	background-color:#ff0066;
	margin-top:30px;
	margin-left:200px;
}
.twelve{
	height:130px;
	width:253px;
	margin-top:-10px;

}
.thirteen{
	margin-left:20px;
	padding-top:-10px;
	color:white;
}

.fourteen{
      color:white;
      padding-top:-10px;

}
.sixteen{
	height:130px;
	width:253px;
	margin-top:-10px;

}
.fifteen{
	height:270px;
	background-color:#66ff99;
	margin-top:30px;
	margin-left:80px;
}

.seventeen{
	color:white;
	padding-left:20px;
}
.eighteen{
      color:white;
      padding-top:-10px;
}
.ninteen{
	height:270px;
	margin-left:70px;
	background-color:#8080ff;
	width:18%;
	margin-top:30px;
}
.twenty{
	height:130px;
	width:249px;
	margin-top:-10px;

}
.twentyone{
	margin-left:20px;
	padding-top:-10px;
	color:white;
}
.twentytwo{
      color:white;
      padding-top:-10px;
}
.a{
	color:red;
	font-size:30px;
	margin-left:40px;
	padding-top:50px;
}
.f{
	height:270px;
	background-color:#66ff99;
	margin-top:30px;
	margin-left:80px;
}
.twentythree{
	height:270px;
	margin-left:200px;
	background-color:#339933;
	width:18%;
	padding-top:10px;
}
.twentyfour{
	height:270px;
	background-color:#990000;
	margin-top:30px;
	margin-left:200px;
}
.twentyfive{
	height:270px;
	background-color:#990033;
	margin-top:30px;
	margin-left:80px;
}
.twentysix{
	height:270px;
	margin-left:70px;
	background-color:#333300;
	width:18%;
	margin-top:30px;
}
.twentyseven{
	height:270px;
	margin-left:80px;
	background-color:#cc2900;
	width:18%;
	padding-top:10px;
}
.twentyeight{
	height:270px;
	background-color:#ff9933;
	margin-top:30px;
	margin-left:80px;
}
.twentynine{
	height:270px;
	background-color:#999966;
	margin-top:30px;
	margin-left:200px;
}
.tirty{
	height:270px;
	background-color:#cc33ff;
	margin-top:30px;
	margin-left:200px;
}
.tirtyone{
	height:270px;
	background-color:#993333;
	margin-top:30px;
	margin-left:80px;
}
.tirtytwo{
	height:270px;
	margin-left:70px;
	background-color:#4d9900;
	width:18%;
	margin-top:30px;
}
.z{
	color:green;
	font-size:30px;
	margin-left:40px;
	padding-top:50px;
}

.tirtythree{
	height:270px;
	margin-left:200px;
	background-color:#339933;
	width:18%;
	padding-top:10px;
}
.s{
	height:130px;
	width:248px;
	margin-top:-10px;

}
.tirtyfour{
	height:270px;
	background-color:#cc3399;
	margin-top:30px;
	margin-left:200px;
}
.tirtyfive{
	height:270px;
	background-color:#b38f00;
	margin-top:30px;
	margin-left:80px;
}
.tirtysix{
	height:270px;
	margin-left:70px;
	background-color:black;
	width:18%;
	margin-top:30px;
}
.tirtyseven{
	height:270px;
	background-color:#669999;
	margin-top:30px;
	margin-left:80px;
}



















