.ap{
	margin-top:20px;
	margin-left:190px;
}
.def{
	color:black;
	margin-left:85px;
}
.behalf{
	color:black;
	margin-left:140px;
}
.apsche{
	height:130px;
	padding-top:25px;
	width:130px;
}
img{
	height:160px;
}
.a{
	background-color: red;
	height:45px;
	width:100%;
}
.b{
	color:white;
	padding-top:7px;
	padding-left:70px;
}
.c{
	height:60px;
	color:white;
	padding-top:-20px;

}
.d{
	color:white;

}
.e{
	height:60px;
	color:white;

}
.f{
	color:white;
}

.g{
	padding-top:6px;
	font-size:22px;
	padding-left:36px;

}
.h{
	padding-top:6px;
	font-size:22px;
	padding-left:36px;

}
.i{
	padding-top:6px;
	font-size:22px;
	padding-left:45px;

}
.j{
	padding-top:6px;
	font-size:22px;
	padding-left:40px;

}
.scroll{
	color:blue;
	font-size:20px;
}
.syl{
	margin-left:10px;
	margin-top:10px;
	height:160px;
	padding-right: 10px;
}
.syllabus{
	height:180px;
	background-color:green;
	margin-left:100px;
}
.books{
	height:180px;
	background-color:#ff0066;
	margin-left:100px;
}
.buk{
	margin-left:10px;
	margin-top:10px;
	height:160px;
	padding-right: 10px;
}
.videos{
	height:180px;
	background-color:#00ffff;
	margin-left:100px;
}
.video{
	margin-left:10px;
	margin-top:10px;
	height:160px;
	padding-right: 10px;
}
.get{
	margin-left:25px;
	font-size:19px;

}
.tap{
	height:80px;
	background-color: yellow;
	margin-left:103px;

    
 }
 .text{
	height:80px;
	background-color: yellow;
	margin-left:165px;
}
.tee{
	margin-left:5px;
	font-size:19px;
	
}
.vi{
	height:80px;
	background-color: yellow;
	margin-left:128px;
}
.vii{
	margin-left:25px;
	font-size:19px;
	padding-right:-10px;
}
.click{
	margin-left:180px;
	margin-top:5px;
}
.cl{
	margin-left:167px;
	margin-top:5px;
}
.cli{
	margin-left:170px;
	margin-top:5px;
}



























